<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real time Chat App</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="chat-window container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <span>Real-Time Chat</span>

              <span>
                <div class="input-group fit-right">
                  <div class="input-group-prepend">
                    <!-- <div class="input-group-text" id="btnGroupAddon2">@</div> -->

                    <button
                      type="button"
                      class="btn btn-primary btn-block fit-right"
                      onclick="changeUsername()"
                    >
                      เปลี่ยนชื่อ
                    </button>
                  </div>
                  <div
                    id="username"
                    class="form-control"
                    aria-describedby="btnGroupAddon2"
                  ></div>
                </div>
              </span>
            </div>
            <div class="card-body">
              <div id="chat-box" class="chat-box">
                <!-- ข้อความแชทอื่น ๆ -->
              </div>
            </div>
            <div class="card-footer">
              <form id="chat-form">
                <div class="form-row">
                  <div class="col-9">
                    <input
                      type="text"
                      id="message-input"
                      class="form-control"
                      placeholder="พิมพ์ข้อความของคุณ"
                    />
                  </div>
                  <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-block">
                      ส่ง
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <script src="/js/chat.js"></script>
  </body>
</html>
