.left-message {
    text-align: left;
    width: fit-content;
    min-width: 150px;
    padding: 10px;
}

.right-message {
    text-align: right;
    margin-left: auto;
    min-width: 150px;
    width: fit-content;
    padding: 10px;
    padding-right: 10px;
}

.chat-box {
    height: 600px;
    overflow-y: auto;
    color: white;
}

.left-message-box {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(62 64 67);
}

.right-message-box {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(0, 132, 255);
}

.message-username {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 5px;
}

.message-time {
    font-size: 12px;
    /* color: #888; */
    margin-top: 3px;
}

.chat-box::-webkit-scrollbar {
    width: 0.2em;
    background-color: #f5f5f5;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.fit-right {
    width: fit-content;
    float: right;
}

.chat-window {
    margin: 20px;
}